@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=MedievalSharp&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}