---
const { nombre, descripcion, imagen } = Astro.props;
---

<div class="w-72 h-full min-h-[300px] bg-surface border border-secondary/30 p-4 rounded shadow-sm text-base flex flex-col items-center text-center">
  <img src={imagen} alt={nombre} class="h-20 object-contain mb-4" loading="lazy" />

  <h3 class="text-lg font-semibold text-accent mb-1">{nombre}</h3>
  <p class="text-sm text-secondary">{descripcion}</p>
</div>